[Desktop Entry]
Encoding=UTF-8
Name=Link to logo.png
Type=Link
URL=https://github.com/EthanRBrown/web-development-with-node-and-express/blob/master/ch03/public/img/logo.png?raw=true
Icon=image-png
